---
layout: base.njk 
---
      <article class="main-article">
          <div class="container container--narrow flow">
            <a href="https://{{post.data.repoName}}.netlify.app" class="btn btn--primary">Live</a>
            <a href="https://github.com/AnyaSonina/{{post.data.repoName}} "class="btn btn--secondary">Repo</a>
          <h1 class="article-title">{{title}}</h1>
          <figure class="main-article__figure">
            <img src="{{image}}" alt="{{imageAlt}}" />
            <figcaption>{{imageAlt}}</figcaption>
          </figure>

          {{content | safe}}
        </div>
      </article>
    </main>

